:root {
    --white: #ffffff;
    --accent-color: #ff6c00;
    --lighter-text-color: rgba(157, 164, 189, 0.6);
    --grey-text-color: #9da4bd;
    --title-color: #303030;
    --darker-text-color: #555555;
    --biege-bg-color: #f7f7f7;

    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

/* Common styles */
.container {
    width: 1280px;
    padding: 0 15px;

    margin: 0 auto;
}

.c-section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.c-title {
    font-family: var(--font-raleway);

    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: var(--title-color);
}

.c-btn {
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;

    padding: 12px 22px;
    min-width: 160px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--white);
    background-color: transparent;
}

.c-btn.dark {
    color: var(--title-color);
}

.c-btn:hover {
    background-color: var(--accent-color);
    color: var(--white);
}

.block {
    background-color: #303030;
    padding: 30px 15px;
}
.block2 {
    background-color: #f7ffe2;
    padding: 30px 15px;
}
/* Common styles */

/* Hero section */
.hero {
    background-color: var(--title-color);
}

.list {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-flex;

    padding: 15px 0;
    color: var(--white);
}
/* Hero section */
