/* Utils */
@import './utils/variables';
@import './utils/mixins';
@import './utils/common';

/* Base */
@import './base/normalize';
@import './base/fonts';
@import './base/reset';

/* Components */
@import './components/header';
@import './components/footer';
@import './components/filters';
@import './components/portfolio-works';


body {
  font-family: $font-open-sans;
  letter-spacing: 0.02em;
  margin: 0;
}


.filters {
    
}