.features-set {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: -10px;
  }
}

.features-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) and (max-width: 1139px) {
    // calc((100% - кількість марджинів * розміри марджину) / кільість елементів)
    // calc((100% - кількість проміжків * розмір проміжку) / кільість елементів)
    width: calc((100% - 1 * 10px) / 2); // 374px
    margin-right: 10px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1140px) {
    width: calc((100% - 2 * 15px) / 3);
    margin-right: 15px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1140px) {

}




$colors: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688";

@include colorize($colors, ".features-item");
